* {
    margin: 0;
    padding: 0;
}
.error-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error-404 h1 {
    font-size: 95px;
}